.popup__save {
    display: block;
    width: 358px;
    height: 50.15px;
    text-align: center;
    padding: 0;
    margin: 30px auto 36.51px;
    color: white;
    background-color: black;
    border-radius: 2px;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    box-sizing: border-box;
}

.popup__save:hover {
    background-color: rgba(0, 0, 0, .8);
    transition: color 2s ease .5s;
}


@media only screen and (max-width: 880px) {
    .popup__save {
        width: 238px;
        height: 46px;
        margin: 25px auto;
        font-size: 14px;
        line-height: 17px;
    }
}