@import url("./__container/popup__container.css");
@import url("./__image/popup__image.css");
@import url("./__caption/popup__caption.css");
@import url("./__input/popup__input.css");
@import url("./__title/popup__title.css");
@import url("./__close-button/popup__close-button.css");
@import url("./__save/popup__save.css");
@import url('./__save/_disabled/popup__save_disabled.css');
@import url("./__form/popup__form.css");
@import url("./__input/_type_error/popup__input_type_error.css");
@import url("./__error/popup__error.css");
@import url("./_container_type_image/popup_container_type_image.css");


.popup {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition:visibility 0s, opacity 1s ease-in-out;
    background-color: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    display: flex;
  }

